.option{
	margin-top: 40px;
	margin-right: 5%;
}
.form-control{
	width: 350px;

}
.search{
	width: 500px;
	margin-left: 10%;
}
.option-cart{
	float: right;
}
.cart-icon{
	width: 40px;
	height: 40px
	background-image:url(images/cart.png);
	background-color:white ;
	background-size: 40px 40px;
}
.cart_no{
	font-size: 20px;
}
#spec-table{
	margin-left: 40px;
	font-size: 15px;
}
#spec-table th{
	font-size: 25px;
	padding: 10px;
}
 #spec-table td{
	  border-bottom:1.5px solid #f5f5f0;
	 	width: 400px;
    height: 30px;
		padding:15px;
 }
 #spec-table tr{
	padding:15px;
}
